model/knn_model.joblib filter=lfs diff=lfs merge=lfs -text
vector/vectors.npy filter=lfs diff=lfs merge=lfs -text
model filter=lfs diff=lfs merge=lfs -text
vector/vectors.npy filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
